header {
    width: 100%
 height: auto;
}
h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}
.logo {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    margin-left: 25%;
    padding-top: 5px;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}
nav ul li {
    float: none;
    background-color: grey;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
}
#carouselExampleFade {
    padding: 10px;
    width: 100%;
}
.container-fluid {
    overflow: hidden;
    width: 100%;
    background-color: red;
}
.hombre {
    width: 100%;
    padding: 10px;
}
#botonCatalogo{
    position: relative;
    left: 40%;
    background-color: transparent;
    border-radius: 100px;
}
.mujer {
    width: 100%;
    padding: 10px;
}
.novedades {
    width: 100%;
    padding: 10px;
}
#imgSeccionHombre, #imgSeccionMujer {
    width: 100%;
    padding: 10px;
}
#imgSeccionNovedades {
    width: 100%;
    padding: 10px;
}
footer {
    background-color: ;
}
@media all and (min-width: 768px) {
    nav ul {
        list-style-type: none;
        overflow: hidden;
    }
    nav ul li {
        float: left;
        background-color: grey;
        width: 24%;
        margin-left: 5px;
    }
    nav ul li a {
        display: inline;
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .container-fluid {
        overflow: hidden;
        width: 100%;
    }
    .hombre {
        float: left;
        width: 50%;
        height: auto;
    }
    .mujer {
        float: left;
        height: auto;
        width: 50%;
    }
    #imgSeccionHombre, #imgSeccionMujer, #imgSeccionNovedades {
        width: 200%;
        height: 500px;
        padding: 10px;
    }
    .novedades {
        width: 100%;
    }
    footer {

    }

   
    }
    @media all and (min-width: 992px) {

        .container-fluid {
        overflow: hidden;
        width: 100%;
        background-color: red;
    }
    .hombre {
        float: left;
        width: 33%;
        height: auto;

    }
    .mujer {
        float: left;
        height: auto;
        width: 33%;

    }
    #imgSeccionHombre, #imgSeccionMujer, #imgSeccionNovedades {
        width: 300px;
        height: 500px;
        padding: 10px;
    }
    .novedades {
        width: 33%;
        float: left;
    }
    #botonCatalogo{
    position: relative;
    left: 40%;
    background-color: transparent;
    border-radius: 100px;
}
}

/*---------Estilo Seccion Hombres------------*/

.cajaRemeras{
    width: 100%;
    padding: 25%;
}

.cajaPantalones{
    width: 100%;
    padding: 25%;
}
.cajaCalzados{
    width: 100%;
    padding: 25%;
}

#h2Hombres{
    background-color: grey;
    color: white;
    width: 100%;
    text-align: center;
}

@media all and (min-width: 992px){
    .cajaRemeras{
    width: 30%;
    float: left;

}

.cajaPantalones{
    width: 30%;
    float: left;
}
.cajaCalzados{
    width: 30%;
    float: left;
}
}

