body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-color:#1c2230;
}

header {
  background-color: #3a383d;
}

header .logo {
  width: 110px;
  border-radius: 90px;
}

header a {
  font-weight: bolder;
}

.jumbotron {
 background-color: #611822;
 color: white;
}

.jumbotron h1{
 font-weight: 800;
}

#footer, #footer.container div li a {
  color: white;
  background-color: #161416;
}

/* NOTE: Formulario modal de CONSULT */
#footer #formularioModal {
  color: black;
}

#contactUs a.nav-link.active {
  padding: 0;
}

#contactUs ul li a{
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}
